<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="memberMapper">

	<resultMap id="memberResultSet" type="Member">
		<id property="memNo" column="MEM_NO"/>
		<result property="memId" column="MEM_ID"/>
		<result property="memPwd" column="MEM_PWD"/>
		<result property="memName" column="MEM_NAME"/>
		<result property="memSsn" column="MEM_SSN"/>
		<result property="memAddress" column="MEM_ADDRESS"/>
		<result property="memEmail" column="MEM_EMAIL"/>
		<result property="memPhone" column="MEM_PHONE"/>
		<result property="memSumMoney" column="MEM_SUMMONEY"/>
	</resultMap>
	
 	
<select id ="loginMember" parameterType="Member" resultMap="memberResultSet">
		SELECT * FROM MEMBER
		WHERE MEM_ID=#{memId}
		AND MEM_PWD=#{memPwd}
		
	<!-- 	암호화 후
		SELECT * FROM MEMBER
		WHERE ID = #{id}
		AND M_STATUS='Y' -->
		
</select>

<select id="findId" parameterType="Member" resultMap="memberResultSet">
	SELECT * FROM MEMBER
	WHERE MEM_NAME=#{memName}
	AND MEM_SSN=#{memSsn}
</select>

<select id="findpassword" parameterType="Member" resultMap="memberResultSet">
	SELECT * FROM MEMBER
	WHERE MEM_NAME=#{memName}
	AND MEM_ID=#{memId}
</select>


<update id="updatePwd"  parameterType="Member">
	UPDATE MEMBER
	SET MEM_PWD = #{memPwd}
	WHERE MEM_ID = #{memId}
</update>
<!--  	
<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER
		VALUES(#{id},#{pwd},#{name},#{email},#{gender},
		#{age},#{phone},#{address},SYSDATE,SYSDATE,default)
		
	</insert>

<update id="updateMember" parameterType="Member">
		UPDATE MEMBER
		SET EMAIL=#{email},AGE=#{age},PHONE=#{phone},ADDRESS=#{address}
		,UPDATE_DATE=SYSDATE
		WHERE ID=#{id}
</update>	

<update id="deleteMember"  parameterType="Member">
		UPDATE MEMBER
		SET M_STATUS = 'N'
		WHERE ID=#{id}
</update>

<select id="idCheck" parameterType="String" resultType="_int">
	
		SELECT COUNT(*)
		FROM MEMBER
		WHERE ID=#{id}
	
</select>
 -->
</mapper>



